* {
    margin: 0;
    padding: 0;
}

ol {
    background-color: rgb(218, 218, 218);
    font-size: 3rem;
    padding: 2rem;
    padding-left: 3rem;
}

li {
    margin: 1rem;
    padding: 1rem;
}

h1 {
    font-size: 4rem;
    margin: 2rem;
    color: rgb(48, 48, 48);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    display: block;
    margin: auto;
    padding: 1rem;
}

div>ol {
    margin-bottom: 1rem;
}

div>*,
div>*>* {
    border-radius: 1rem;
}